# Copyright (c) 2026 Semtech Corporation
# SPDX-License-Identifier: Apache-2.0

choice DEVICE_ROLE
   prompt "Define as an initiator or slave role"
   default INITIATOR
   help
      Select a role to run

   config INITIATOR
      bool "As an initiator role"

   config SLAVE
      bool "As a slave role"
endchoice # DEVICE_ROLE

source "Kconfig.zephyr"
