// /*
//  * Copyright (c) 2024 Semtech Corporation
//  *
//  * SPDX-License-Identifier: Apache-2.0
//  */

/ {
	aliases {
		smtc-user-button = &usr_btn;
	};
};

&xiao_serial {
	status = "disabled";
};

&i2c22 {
	status = "okay";
};

&i2c30 {
	status = "disabled";
};

&adc {
	status = "disabled";
};

&wdt31 {
	status = "disabled";
};

&ssd1306_128x64 {
	compatible = "solomon,ssd1306";
	inversion-on;
};

// Set pa ramp time to 48us for this sample
&{/soc/peripheral@50000000/spi@4a000/lora@0} {
        pa-ramp-time = <0x05>; // 48us
};
